@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

li{
  list-style-type: none;
}

a{
  color: white;
  text-decoration: none;
}

.app{
  text-align: center;
  min-height: 100vh;
  padding-top: 50px;
  width: 80%;
  margin: auto;
}

form{
  margin-top: 20px;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  background-color: white;
  outline: none;
}

.search-button{
  padding: 10px 20px;
  border: none;
  background-color: lightcoral;
  color: white;
  transition: all 0.5s ease;
  cursor: pointer;
}

.search-button:hover{
    background-color: rgb(180, 87, 87);
}

.recipes{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

@media (max-width: 992px) { 
  .recipes{
    grid-template-columns: 1fr;
  }
}